body {
    margin: 0; 
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.wrapper {
    margin: 0;
    background-image:url(https://images.unsplash.com/photo-1592252032050-34897f779223?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fG1hcHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
.second-bg {
    background-color: #f2faaf88;
    margin: 0;
    height: 100vh;
}
.logo {
    margin-top: 2em;
    width: auto;
    height: 30vh;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}
.swoopInTop{
    animation-duration: 2s !important;
}
.title {
    font-family: 'Pacifico', cursive;
    font-size: 15vw;
    color: black;
    margin-top: -2em;
    font-weight: 900;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}
.driveInLeft {
    animation-duration: 4s !important;
}
.input-wrapper {
    margin: auto;
}
 .input-country, .input-city, .submit {
    width: 40%;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
    text-align: center;
    background-color: #ace9fc;
    font-family: 'Fredoka One', cursive;
    font-size: 4vw;
}
.input-country {
    width:48%;
    border: solid 2px black ;
    text-align-last:center;
}
.input-country select, .input-country option {
    font-family: 'Fredoka One', cursive;
    font-size: 4vw;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
.submit {
    width: 20%;
    border-radius: 50px;
    background-color: #ee6161;
    font-weight: 900;
}



@media screen and (min-width:770px) {
   
.logo {
    margin-top: 10%;
    width: 30vh;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}
.title {
    font-size: 9vw;
}
.input-country, .input-city, .submit {
    width: 28%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 2vw;
}
.input-country {
    width:30%;
}
.input-country select, .input-country option {
    font-size: 2vw;
}
.submit {
    font-family: 'Fredoka One', cursive;
    width: 10%;
    background-color: #ee6161;
}

}



