body {
    margin: 0;
}
*{
    font-size: xx-large;
   
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.wrapper{
    margin: 0;
    width: 100vw;
    height: 120vh;
    background-image:url(https://images.unsplash.com/photo-1592252032050-34897f779223?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fG1hcHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-size:cover;
    background-position: center;
}

.second-bg{
    background-color: #edf7c796;
    margin: 0;
    height: 120vh;
}

.logo{
    margin-top: 2em;
    width: auto;
    height: 30vh;
}

.title{
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    text-shadow: black;
    color: black;
    margin-top: -2em;
    font-weight: 900;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


 .input-country, .input-city, .submit {
    width: 30%;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: black 1px 2px 3px;
    text-align: center;
    background-color: #ace9fc;
}
.input-country{
    width:36%;
    border: solid 2px black ;
    text-align-last:center;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    }

/* @media screen and (min-width:860px){
   
    .input-wrapper{
        display: block;
    }

} */

.submit{
    width: 25%;
    border-radius: 50px;
    background-color: #ee6161;
    font-weight: 900;
}





