
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Fredoka+One&display=swap');


.a {
  text-decoration: none;
  color: rgb(255, 74, 83);
}
.a:hover {
  color: rgb(255, 224, 225);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.footer {
  background-color: rgb(82, 197, 222);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url("/img/globe.jpg");
  background-size: cover;
  background-position: center;
}
.flight-link {
  margin-top: -220px;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  background-color: rgb(255, 100, 108);
  font-weight: bold;
  font-size: 3.5vw;
  text-align: center;
  border: solid 1px black;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);
  position: absolute;
}
.flight-a {
  color: black;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
}
.flight-link:hover, .go:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
  background-color: rgb(255, 131, 137);
}
.small {
  color: rgb(54, 54, 54);
  font-size: 2.5vw;
  margin: 0 0 15px 0;
}
.made-by {
  font-size: 3vw;
  margin: 55px 0 0 0;
  font-family: 'Advent Pro', sans-serif;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}
.students {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.student-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-img {
  display: none;
}
.names {
  font-size: 4vw;
  margin-top: 30px;
  font-weight: bold;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
} 
.surnames {
  font-size: 3.5vw;
  font-family: 'Advent Pro', sans-serif;
}

@media screen and (min-width:770px){
.flight-link {
  font-size: 2vw;
  margin-top: -250px;
  position: fixed;
}
.small {
  font-size: 1.3vw;
  margin: 10px 0 20px 0;
}
.made-by {
  font-size: 1.8vw;
  margin: 50px 0 20px 0px;
}
.footer-img {
  display: block;
  height: 60px;
  width: 60px;
  margin-bottom: 15px;
  border-radius: 100%;
  background-color: rgb(255, 74, 83);
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}
.names {
  font-size: 1.9vw;
  margin-top: 0px;
} 
.surnames {
  font-size: 1.6vw;
}
}

@media screen and (min-width:1070px){

.flight-link {
  font-size: 22px;
}
.small {
  font-size: 12px;
}
.made-by {
  font-size: 15px;
}
.names {
  font-size: 20px;
} 
.surnames {
  font-size: 17px;
}
}
