* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.wrapper {
  margin: 30px;
}
.logo {
  width: 200px;
}
.blue {
  color: rgb(51, 176, 204);
}
.pink {
  color: rgb(255, 74, 83);
}

/* GREETING */
.greeting {
  font-size: 8vw;
  font-family: 'Fredoka One', cursive;
}
.city-country {
  font-size: 11vw;
  margin: -20px 15px -15px 15px;
  font-family: 'Fredoka One', cursive;
}
.greeting-hello {
  font-size: 8vw;
  font-family: 'Fredoka One', cursive;
}
.greeting-container {
  text-align: center;
  font-weight: bold;
  margin: 30px 30px -15px 30px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}
.swoopInTop {
  animation-duration: 2s !important;
}


/* TABS */
.tab-text {
  white-space: nowrap;
  font-size: 4vw;
}
.tabs-container {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: solid 5px rgb(0, 0, 0);
}
.tab-div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
  background-color: rgb(255, 100, 108);
  margin: 0 1px -5px 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  -webkit-filter: drop-shadow(1px 0 0 #222);
  border: solid 2px rgb(0, 0, 0);
  cursor: pointer;
}
.tab-div:hover {
  background-color: rgb(197, 244, 255);
}
.active{
  background-color: rgb(197, 244, 255);
  border-bottom: solid 2px rgb(197, 244, 255) !important;
  box-shadow: 2px -2px 2px rgba(53, 53, 53, 0.171);
}
.tab-text {
  font-family: 'Fredoka One', cursive;
}


.main-components {
  background-color: rgb(197, 244, 255);
  padding: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid 1px rgba(0, 0, 0, 0.301);
}




@media screen and (min-width:770px) and (max-width:1070px){

.greeting {
  font-size: 3vw;
}
.greeting-hello {
  font-size: 4.5vw;
  margin: 0;
}
.city-country {
  font-size: 4vw;
  margin: 0 15px 0 15px;
}
.greeting-container {
  margin: 30px 30px -15px 30px;
  -webkit-filter: drop-shadow(0 0 0 #222);
  filter: drop-shadow(0 0 0 #222);
}

    
.tabs-container {
  border-bottom: solid 1px rgb(0, 0, 0);
}
.tab-text {
  font-size: 2vw;
}
.tab-div {
  height: 45px;
  width: 90%;
  margin: 0 1px -5px 1px;
  padding: 0 9px 0 9px;
  border: solid 1px rgb(0, 0, 0);
}
  
  
.main-components {
  min-height: 50vh;
  border: solid 1px grey;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 10px;
}
}



@media screen and (min-width:1070px) and (max-width:5000px){

.tab-text {
  font-size: 23px;
}
.greeting {
  font-size: 40px;
}
.greeting-hello {
  font-size: 45px;
}
.city-country {
  font-size: 42px;
}
.tab-div {
  height: 50px;
}
}