.wrapper {
    margin: 30px;
}

.logo {
    width: 200px;
}

.blue {
    color: rgb(82, 197, 222);
}

.pink {
    color: rgb(255, 100, 108);
}

.city-country{
    font-size: 11vw;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: -20px;
}

h1 {
    font-size: 7vw;
}