/* WEATHER STYLES */
.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.day-weather {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3px;
    margin: 5px;
    border-radius: 9px;
    border: solid 1px rgba(0, 0, 0, 0.192);
    background-color: rgb(255, 255, 255);
}
.weather-header, .weather-header-detail {
    padding: 0.2em;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgb(255, 213, 221);
    font-size: 3.5vw;
    text-align: left;
}
.weather-header-detail {
    font-weight: normal;
}
.weather-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1.5em;
}
.weather-detail, .weather-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px;
    height: 40px;
    width: 45px;
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
}
.weather-date {
    font-size: 4vw;
}
.weather-icon{
    width: 300%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}